@import 'normalize';

@mixin boxshadow {
	box-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

@mixin transition($type: all, $duration: 1s) {
	-moz-transition: $type $duration;
	-webkit-transition: $type $duration;
	-ms-transition: $type $duration;
	-o-transition: $type $duration;
	transition: $type $duration;
}

@mixin myriad($size: 100%, $weight: 400) {
	font-family: "myriad-pro",sans-serif;
	font-size: $size;
	font-weight: $weight;
}

body {
	font-family: georgia, sans-serif;
	font-size: 100%;
	font-weight: 400;
	line-height: 1.5;
	color: #333;
	background: #EEE;
}

article {
	@include boxshadow;
	background: white;
	margin: 3em;
	padding: 2.5em;
	max-width: 1.5 * 33em;
	p {
		@include myriad(2em, 300);
		margin-bottom: 1.5em;
		text-align: justify;
		&:first-child {
			margin-top: 0;
		}
		&:last-child {
			margin-bottom: 0;
		}
		em {
			font-style: italic;
			font-size: 1.15em;
		}
		a {
			color: inherit;
			text-decoration: none;
			border-bottom: 1px solid #BBBBBB;
			&:hover {
				border-bottom-color: black;
				@include transition(border-bottom-color, 0.75s);
			}
		}
	}
}

@media all and (min-width: 60em) {
	article {
		margin-left: auto;
		margin-right: auto;
	}
}
@media all and (max-width: 45em) {
	article {
		min-width: 0;
		margin: 1em 1em;
		p {
			@include myriad(1em, 300);
			min-width: 0;
		}
	}
}